<mat-card>
  <mat-card-header>
    <mat-card-title> lista de usuarios </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Nombres">
        <th mat-header-cell *matHeaderCellDef>Nombres</th>
        <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef>Apellidos</th>
        <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Dni">
        <th mat-header-cell *matHeaderCellDef>Dni</th>
        <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="NumeroTelefonico">
        <th mat-header-cell *matHeaderCellDef>NumeroTelefonico</th>
        <td mat-cell *matCellDef="let element">
          {{ element.numeroTelefonico }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" element>
            <span class="material-icons" >edit</span>
          </button>
          <button mat-icon-button color="warnig">
            <span class='material-icons'>delete</span>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
