<form >
  <mat-card>
    <mat-card-header>
      <mat-card-title> registro Contacto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <mat-label>NombreContacto</mat-label>
          <input matInput formControlName="Titulo"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>NumeroContacto</mat-label>
          <input matInput  formControlName="FechaProgramada"/>
          <!-- <mat-error *ngIf=""> </mat-error> -->
          <mat-error> </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>NotaContacto</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St"></textarea>
          <mat-error> </mat-error>
          <mat-error> </mat-error>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button class="button_widht" mat-raised-button color="primary">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>


