<div class="card_login">
  <form [formGroup]="form" (ngSubmit)=" UserLogin()">
    <mat-card class="card_form">
      <mat-card-header
        ><img
          src="../../assets/Agenda.jpg"
          height="150px"
          width="100px"
          alt=""
        />
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <mat-form-field>
            <mat-label>ingrese usuario</mat-label>
            <input matInput formControlName="user" />
            <mat-error *ngIf="form.controls['user'].hasError('required')"
              >el usuario es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>passwoord</mat-label>
            <input matInput formControlName="password" />
            <mat-error *ngIf="form.controls['password'].hasError('required')"
              >el password es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          type="submit"
          class="button_ingresar"
          mat-raised-button
          color="primary"
        >
          ingresar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <form [formGroup]="form" (ngSubmit)="Registrar()">
    <mat-card-actions>
      <button
        type="submit"
        class="button_regitrar"
        mat-raised-button
        color="primary"
        (click)="Registrar()"
        routerLink="/User"
      >
        Registrar
      </button>
    </mat-card-actions>
  </form>
</div>

