<div></div>
<div>
  <form [formGroup]="form" >
    <mat-card>
      <mat-card-header>
        <mat-card-title> editar usuarios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Nombres</mat-label>
            <input />
            <mat-error></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input />
            <mat-error></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dni</mat-label>
            <input />
            <mat-error></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>NumeroTelefonico</mat-label>
            <input />
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button></button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
