<form [formGroup]="form"  (ngSubmit)="user()">
  <mat-card>
    <mat-card-header>
      <mat-card-title> registro Actividad</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input matInput formControlName="Titulo"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>fecha</mat-label>
          <input matInput  formControlName="FechaProgramada"/>
          <!-- <mat-error *ngIf=""> </mat-error> -->
          <mat-error> </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>horaProgramada</mat-label>
          <input matInput  formControlName="Hour"/>
          <mat-error> </mat-error>
          <mat-error> </mat-error>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button class="button_widht" mat-raised-button color="primary">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
